html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    color: #112;
    background: #eee;
    .sidebar {
        height: 100%;
        min-width: 300px;
    }
    .results {
        flex: 1;
    }
}
